<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @logo.post_id %>
</p>

<p>
  <strong>Designer:</strong>
  <%= @logo.designer_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @logo.title %>
</p>

<%= link_to 'Edit', edit_post_logo_path(@post, @logo) %> |
<%= link_to 'Back', :back %>
