<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row show-post-wrapper">
      <div class="post col-lg-9">
          <h4>
              <%= @post.title %>
          </h4>
          <p class="content">
              <%= @post.content %>
          </p>

          <p>
            <span>By </span>
            <%= link_to @post.customer.name, customer_path(@post.customer)  %>
            <span> at </span>
            <%= @post.created_at.strftime("%d %b %Y")  %>
          </p>
          <% if @post.customer == current_customer %>
            <%= link_to 'Edit', edit_post_path(@post), :class=>"btn btn-info-outline" %>
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger-outline", :style=>"font-size: 12px;" %>
          <% end %>
            <%= link_to 'Back', posts_path, :class=>"btn btn-info-outline" %>



      </div>
      <div class="old_logo col-lg-3 text-center">
          <div class="">
            <h5 class="old-logo">
                Old
            </h5>
            <%= image_tag @post.old_logo.url(:medium), class: "card-img-top img-fluid" %>
          </div>
      </div>
    </div>
    <hr>
    <% if designer_signed_in? %>
      <%= link_to 'Add logo', new_post_logo_path(@post), :class=>"btn btn-info-outline " %>
    <% end %>
  <br><br>
  </div>
  <div class="card-deck-wrapper">

    <% @post.logos.each do |logo| %>

      <div class="card-deck col-xs-6 col-sm-4 col-lg-3">
        <div class="card ">
          <%= image_tag logo.new_logo.url(:medium), class: "card-img-top img-fluid center-block "  %>


          <div class="card-block">
 <div class="details"><span class="card-text"><small class="text-muted"><%= logo.created_at.strftime("%d %b %Y") %></small></span>
            <!-- <span class="card-text "><small class="text-muted"><i class="fa fa-heart" aria-hidden="true"></i> 99</small></span> -->
            </div>
            <%= link_to logo.designer.name, designer_path(logo.designer), :class=>"text-author" %>
            <!-- <p class="card-text text-muted text-center text-author"><%= logo.designer.email %></p> -->

          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
<!-- <% @post.logos.each do |logo| %>
  <%= image_tag logo.new_logo.url(:medium) %>

 <% end %> -->
