<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="post col-lg-8">
        <h4>
            <%= @post.title %>
        </h4>
        <p class="content">
            <%= @post.content %>
        </p>
        <p>
            <span>By </span>
            <%= link_to @post.customer.name, @post.customer.name, class: "author" %>
            <span> at </span>
            <%= @post.created_at.strftime("%d %b %Y")  %>

        </p>
    </div>
    <div class="old_logo col-lg-4">
        <div class="">
          <h4 class="">
              Old logo
          </h4>
          <%= image_tag @post.old_logo.url(:medium), class: "card-img-top" %>
        </div>
    </div>
    </div>
    <hr>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post), :class=>"btn btn-info-outline" %> |
<%= link_to 'Back', posts_path, :class=>"btn btn-info-outline" %>
