

<nav class="navbar navbar-fixed-top navbar-light" style="background-color: #333;">
      
  <button class="navbar-toggler hidden-sm-up " type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <div class="container ">
    
    
    
    <ul class="nav navbar-nav">
    
      <li class="nav-item"><%= link_to image_tag("my-ruby-rabbit.png"), root_path, class: 'logo' %></li>
      
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">About</a> -->
        <%= link_to 'Posts', '/posts', class: 'nav-link' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Logos', '/logos', class: 'nav-link' %>
      </li>

        <% if designer_signed_in? %>
          <!-- Exit -->
          <li class="nav-item pull-xs-right">
              <%= link_to 'Exit <i class="fa fa-sign-out" aria-hidden="true"></i> '.html_safe, destroy_designer_session_path, :method => :delete, class: 'nav-link' %>
          </li>

          <!-- Email -->
          <li class="nav-item pull-xs-right">
              <span  class='nav-link'><%= current_designer.email %></span>
          </li>
          <!-- Name -->
          <li class="nav-item pull-xs-right">
            <span  class='nav-link'><%= current_designer.name %></span>
          </li>

        <% end %>

        <% if customer_signed_in? %>

          <!-- Exit -->
          <li class="nav-item pull-xs-right">
              <%= link_to 'Exit <i class="fa fa-sign-out" aria-hidden="true"></i> '.html_safe, destroy_designer_session_path, :method => :delete, class: 'nav-link' %>
          </li>
          <!-- Email -->
          <li class="nav-item pull-xs-right">
              <span  class='nav-link'><%= current_customer.email %></span>
          </li>
          <!-- Name -->
          <li class="nav-item pull-xs-right">
            <span  class='nav-link'><%= current_customer.name %></span>
          </li>
        <% end %>

        <% if !signed_in? %>
          <!-- Customer -->
          <li class="nav-item pull-xs-right">
            <%= link_to 'Customer <i class="fa fa-briefcase" aria-hidden="true"></i>'.html_safe, new_customer_session_path, class: 'nav-link' %>
          </li>
          <!-- Designer -->
          <li class="nav-item pull-xs-right">
            <%= link_to 'Designer <i class="fa fa-leaf" aria-hidden="true"></i>'.html_safe, new_designer_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      </div>
  </div>
</nav>
