<!DOCTYPE html>
<html>
<head>
  <title>RailsBoilerplateBootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation -->
  <%= render "layouts/nav" %>

  <div class="container">
      <div class="row">
          <!-- Container -->
          <%= yield %>
      </div>
  </div><!-- /.container -->
  <!-- Footer -->
  <%= render "layouts/footer" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
